---
import testimonialsData from '../../content/testimonials.json';
const { sectionTag, sectionTitle, reviews } = testimonialsData;
---

<section class="section section--soft" id="testimonials">
    <div class="container">
        <div class="section__header">
            <span class="section__tag">{sectionTag}</span>
            <h2 class="section__title">{sectionTitle}</h2>
        </div>
        <div class="revs">
            {reviews.map(rev => (
                <div class="rev">
                    <blockquote>{rev.text}</blockquote>
                    <cite>{rev.author}</cite>
                </div>
            ))}
        </div>
    </div>
</section>
